::-webkit-scrollbar-thumb {
	background: white;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar {
	width: 1px;
	height:1px;
}


*,
body,
html {
	box-sizing: border-box;
	transition: all 0.1s ease-in;

}

body,
html {
	padding: 0;
	margin: 0;
	height: 100%;
	line-height: 1.5;
}

textarea{
	z-index: 5;
	position:sticky;
	top: 10px;
	width: 85vw;
	height: 60px;
	text-align: center;
	font-size: 22px;
	border-radius: 40px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.473);
	backdrop-filter: blur(5px);
	border: 2px solid blue;
	color: blue;
	font-weight: 700;
}
textarea::placeholder{
	color: #000000;
}
.text{
	position: fixed;
	top: 70px;
	width: 100vw;
	display: flex;
	justify-content: center;
	/* background: linear-gradient(to right, rgba(255, 255, 0, 0.247),  rgba(255, 0, 0, 0.336)); */

}

.category-tab{
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow:scroll;
	text-align: left;
}

.category-tab a{
	color: rgb(255, 255, 255);
	margin: 0px 10px;
	border-radius: 5px;
	background: none;
	padding: 5px 15px;
}

.category-tab a:hover{
	color: blue;
	background: rgba(85, 85, 85, 0.315);

}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}

a {
	text-decoration: none
}

input::placeholder {
	color: rgb(136, 136, 136);
	opacity: 1;
}

.recently-used{
	background: rgba(0, 110, 255, 0.397);
	width: 90vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	border-radius: 15px;
	margin: 0 auto 20px auto;
}
#result h3{
	font-size: 25px;
	color: white;
	margin: 10px;
}




#result{
	padding: 20px;
	background: linear-gradient(to bottom right, rgb(0, 110, 255), rgb(0, 238, 255));
}

.autofontsgenerator p{
	text-align: center;
	overflow: auto;
	width: 45%;
}

.autofontsgenerator{
	width: 85vw;
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
}

#result p{
	background: rgb(77, 190, 255);
	border-radius: 10px;
	padding: 10px;
	width: 35vw;
	max-height: 100px;
	overflow: auto;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}
#result p:hover{
	box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.5);
	color: white;
}
#content{
	display: flex;
	flex-wrap: wrap;
	width: 75%;
	justify-content: space-evenly;
}

#content p{
	width: 45%;
}

#random-btn{
	width: 150px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background:rgba(128, 128, 128, 0.349);
	backdrop-filter: blur(5px);
	color: white;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
	cursor: pointer;
}

#random-btn:hover{
	box-shadow: 0px 0px 0px rgb(0, 0, 0, 0.5);
	color: black;
}

#random-btn svg{
	width: 30px;
}

.text-and-share{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.fontsize{
	display: flex;
	justify-content: center;
}

/* header */
.header{
	background: #0141d0;
	width: 90vw;
	margin: 0px auto 70px auto;
	border-radius: 20px;
}

.site-branding-text {
	color: #FFF;
	text-align: center;
}

p.site-title {
	margin: 0;
}

.site-title a {
	color: #fff;
		padding: 3px;
		display: block;
		font-size: 25px;
		text-transform: none;
}

.share-and-fontsize{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
header{
	background: linear-gradient(to right, yellow,  red);
	padding: 20px;
}
.fonts{
	background: rgba(0, 110, 255, 0.397);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	text-align: center;
}
.main-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 0px;
}


.random-fonts{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}


/* left side menu */
.leftsection {
    float: left;
    width: 23%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: #2a5fd2;
	box-shadow: 5px 1px 4px 0 rgba(0,0,0,.08);
	display: none;
}
.leftsection .close {
    position: absolute;
    right: -45px;
    top: 10px;
    font-size: 18px;
    padding: 10px 17px;
    border: none;
    background: #ff5722;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
    z-index: 3;
	display: none;
}
/* textarea{
	position: fixed;

} */
.leftsection h2 {
    text-align: center;
    margin: 5px;
    font-size: 1.4rem;
}
.leftsection h2 a {
    color: #fff;
	text-transform: none;
	font-size: 18px;
}
.bookmarks a {
    display: block;
    text-align: right;
    padding: 10px 15px;
    color: #ffffff85;
    text-transform: uppercase;
}

#mobile-fly-menu {
	display: block;
	position: absolute;
    cursor: pointer;
    width: 50px;
    height: 40px;
    float: left;
}
#mobile-fly-menu:hover span {
    background: #fff;
}
#mobile-fly-menu span:nth-child(1) {
    top: 10px;
    width: 38px;
}
#mobile-fly-menu span:nth-child(2){top:19px;width:30px}
#mobile-fly-menu span:nth-child(3){top:28px;width:22px}
#mobile-fly-menu span{display:block;position:absolute;left:12px;-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-ms-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out;height:4px;background:#ffffff8f}

.site-link {
	position: absolute;
	left: 0;
    bottom: 0;
	right: 0;
	padding-bottom: 20px;
}
.site-link a {
    font-size: 20px;
    display: block;
    padding: 3px 20px;
    text-align: left;
}
.site-link a:hover {
    color: #fff9;
}
.bookmarks a:hover{
	background: #fff;
	color: #000;
}
/* .leftsection{
	height: 100vh;
} */
.bookmarks{
	height: 50%;
	overflow: auto;
}



/* main content */
.mainsection {
	width: 100%;
	margin-top: 10px;
}
.emojidetails {
    position: relative;
    display: inline-block;
    margin: 4px;
	background: #fff;
	border: 2px solid #f7f7f7;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.emojidetails span {
    display: block;
    padding: 5px 22px 0;
    overflow: hidden;
    font-size: 40px;
    background: #fff;
    border-radius: 3px;
}
.emojidetails p {
    font-size: 8px;
    padding: 2px;
    width: 100%;
    margin: 0;
    bottom: 0;
    background: #f3f5f8;
    color: #777;
    text-transform: uppercase;
}
.emojidetails:hover{
	border-color: #0141d0;
}
div.copied {
	position: fixed;
	width: 260px;
    left: 0;
	bottom: 25%;
    background: #2e70ffb2;
    color: #fff;
    padding: 5px 10px;
	border-radius: 5px;
	z-index: 99999;
	box-shadow: 0px 0px 8px 0 rgba(0,0,0,.41);
}
div.copied .copybtn {
    float: left;
    width: 100%;
}
div.copied .text {
    background: transparent;
    color: #fff;
    display: none;
	
}
#random-btn{
	position: fixed;
	top: 50vh;
	right: 10px;
}
/* iframe{
	width: 100vw;
	height: fit-content;
} */

/* bottom menu */


.share{
	display: flex;
	align-items: center;
	justify-content: center;
}

#scroll {
    display: none;
    position: fixed;
    bottom: 20%;
    right: 10px;
    background: #fff;
    z-index: 99;
    color: #777;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 14px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .21);
    border-radius: 5px;
}

#scroll:hover{
	box-shadow: none;
}

/* footer css */


.loading svg{
	background: none;
	width: 100px;
	height: 80px;
}
.how-to-use{
    padding: 20px;
	background-color: #56a8ff;

    margin: 40px auto 0px auto;
}
.FAQs{
    padding: 20px;    background-color: #56a8ff;

}

.accordion-item{
    background-color: #5084CC;
	z-index: -1;

}
.accordion-header button{
    background-color: #5084CC;
    color: white;
}

.widely-used-font{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
	background-color: #56a8ff;

}

.widely-used-font .table{
    background-color: #5084CC;
    border-radius: 10px;
    padding: 20px;
}

.widely-used-font table{
    width: 100%;
    color: white;
}


.infoo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.infoo img{
    margin-bottom: 50px;
	width: 95%;
}




.links{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}
.links a{
	background: #2a5fd2;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
}

footer{
    background-color: #56a8ff;
	color: white;

}


/* responsive css */
@media only screen and (max-width:970px) {

	.leftsection{
		width: 75%;
	}

	.mads{
		width: 100%; height: 90px;
	}


	#mobile-fly-menu span:nth-child(1) {
		top: 9px;
		width: 38px;
	}
	#mobile-fly-menu span:nth-child(2) {
		top: 19px;
		width: 30px;
	}
	#mobile-fly-menu span:nth-child(3) {
		top: 28px;
		width: 22px;
	}

	#mobile-fly-menu{position: absolute;}

	

	.container {
		max-width: 100%;
	}
	
	.rightside {
		width: 100%;
		margin-left: 0%;
	}
	.footer .thumb {
		width: 90%;
	}
	#myBtn {
		bottom: 20%;
	}
}

@media only screen and (max-width:600px) {

	#scroll{
		width: 30px;
		padding: 0;
		height: 40px;
		right: 2px;
	}
	#random-btn{
		width: 120px;
		font-size: 13px;
		height: 30px;
		top: 35%;
	}
	.container {
		width: 100%;
	}
	.mads{
        width: 100%; height: 50px; 
    }
	
	.footer img {
		width: 90%;
	}
	.site-info {
		padding: 0 5px;
	}

	.site-title a {
		font-size: 18px;
    padding: 6px;
	}
	p.copied {
		width: 50%;
	}


	.footer .thumb img {
		width: 100%;
	}
	#result p{
		width: 85vw;
		margin: 5px;
	}
	#result h3{
		margin: 15px;
	}
	.autofontsgenerator{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.autofontsgenerator p{
		width: 85vw;
		margin: 5px;
	}
	textarea{
		border-radius: 5px;
		width: 99vw;
		position: fixed;
		top: 100%;
		transform: translateY(-100%);
	}
	.header{
		margin:10px;
	}
	
	.share-and-fontsize{
		display:inline-block;
		justify-content:space-evenly;
		flex-direction: column;
		align-items: center;
	}
	
}

/* Share Button CSS */

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

.resp-sharing-button--telegram {
  background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;}
